<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779178202248-qdg0k2fuh3olmmdvphim1npma79qdm2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779178202248-qdg0k2fuh3olmmdvphim1npma79qdm2s</string>
	<key>API_KEY</key>
	<string>AIzaSyCYrbjQ8DQPP-mh0jgiHyGgCkyZ5KIJUV8</string>
	<key>GCM_SENDER_ID</key>
	<string>779178202248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matias-a-m</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-e6301</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-e6301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779178202248:ios:ad67bf19115cbf9bef7b3d</string>
</dict>
</plist>